<div class="container-fluid" style="background: ; height: 100vh;">
	<div class="row">


		<div class="col-md-10" style="background:">
			<div class="row">
				<div class="col-md-3 profile-bar text-center">
					<div class="card card-body avatar-canvas">
						<img src="/assets/profile.jpg" class="img-fluid">
						<div class="title-box">
							<h1 class="pofile-name">Napihup</h1>
							<p class="lead">Yakub Family</p>
						</div>
						<div class="form-group">
							<button class="v-family-btn btn btn-md"> View Family</button>
						</div>
						
					</div>
				</div>
				<div class="col-md-9 profile-content">
					<div class="tab-container">
						<ul class="nav">
							<!--- USE navtab-active class for active -->
						  <li class="nav-item">
						    <a class="nav-link navtab-active" href="http://localhost:3310/user/home">
						    <i class="fas fa-user-circle"></i> Profile</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" href="http://localhost:3310/skilltab">
						    <i class="fab fa-hubspot"></i> Skills</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" href="http://localhost:3310/employmenttab">
						    	<i class="fas fa-briefcase"></i> Employment</a>
						  </li>
						  
						</ul>

						<!-------------------------  ABOUT ME TAB CONTENT ---------------------------->
						<div id="aboutme" class="tab-content">
							
			
							<div class="container float-left" style="background:">

									<div id="main-profile-card" class="card card-body mb-3">
										<div class="container-fluid">
											<div class="row profile-section text-left">
												
												  <div class="col-lg-7 col-md-7 col-sm-7">
										            <h3 class="profile-card-header">Profile details : </h3>
										            <h5>Muhammad Hanafi </h5> 789/90 , Lane Here, New York,
										            <br /> United States <br />
										            <p class="bold-text"><span>D.O.B:</span> 9 july 1993</p>
										           
										          </div>
										          <div class="col-lg-5 col-md-5 col-sm-5">
										            <h3 class="profile-card-header">Contact :</h3>
										             Mob: +1-99-88-77-55 <br />
										             Home: +65 91782342
										            <br>email: <a href="#">info@domainname.com</a>
										          </div>
												
											</div>
											<div class="row profile-section text-right">
												<div class="btn-group ml-auto">
													<button class="btn btn-sm profile-edit-btn">edit</button>
													<button class="btn btn-sm profile-private-setting-btn">
													Privacy <i class="fas fa-wrench"></i></button>
												</div>
												
											</div>
										</div>
									</div>



									<div id ="aboutme-card" class="card">
										<div class="card-header text-left p-2">
											<h1 class="card-title d-inline"> A little things about me</h1>
												
												<p class="d-inline float-right add-about-icon">Add Item
												</p>
											 
										</div>
										<div class="card-body">
											<div id="edu-card" class="card-divider text-left">
												<i class="fas fa-graduation-cap d-inline card-icon"></i>
												<p class="d-inline">Study at <strong>Republic poly
												 </strong><span style="font-style: italic">in 2018</span></p>
												 <p class="d-inline float-right edit-icon">edit</p>
												
												 <br>
												 <p class="text-muted" style="font-style: italic">Diploma in Material sciences</p>
												 
											</div>

											<div id="bio-card" class="card-divider text-left">
												<i class="fab fa-cloudsmith d-inline card-icon "></i>
												<span class="d-inline bio-text"> Bio</span>
												<p class="d-inline float-right edit-icon">edit</p>
												<br>
												<p class="d-inline">&nbsp; &nbsp; &nbsp; &nbsp; - Napihup is the co-founder of Content Snare and Aktura Technology. Once a web designer, his new priority is to help web designers and developers regain their lives, work less and get better clients.

He does this by writing helpful posts, building software and working with web designers to deliver the complex web development that they don't normally handle.</p>
												 
											</div>

											<div id="hobby-card" class="card-divider text-left">
												<i class="far fa-thumbs-up d-inline card-icon "></i>
												<!-- <span class="d-inline bio-text"> What i like?</span> -->
												<p class="d-inline float-right edit-icon">edit</p>
												<br>

												 
												<nav class="nav nav-pills flex-column flex-sm-row">
													<p class="flex-sm-fill text-sm-center  nav-link">
														<i class="fas fa-code"></i> Coding
													</p>
													<p class="flex-sm-fill text-sm-center  nav-link">
														<i class="fas fa-gamepad"></i> Gaming
													</p>
													<p class="flex-sm-fill text-sm-center  nav-link">
														<i class="fas fa-utensils"></i> Eating
													</p>
													<p class="flex-sm-fill text-sm-center  nav-link">
														<i class="fab fa-hotjar"></i> Cooking
													</p>



												</nav>
												<a class="add-about-icon" href="#"><i class="fas fa-plus"></i> Add more</a>

											</div>
										</div>
									</div>
		
							</div>
							
						</div>	


										
					</div>
					
				</div>
			</div>
		</div>


<!---------------------------------------------------------------------------------------->
		<div class="col-md-2 right-component">
			
			<h1 class="side-bar-header">Contacts</h1>
			<ul class="list-group-item online-list">

				<!-- <p class="text-muted right-bar-text">You don't have any friends,<br><a href="#"> add new friends ?</a></p> -->
				<li class="list-item">
					<a href="#">
						<span class="d-inline avatar">M</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-success d-inline"></span>
					</a>
				</li>
				<li class="list-item">
					<a href="#">
						<span class="d-inline avatar">HN</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-warning d-inline"></span>
					</a>
				</li>
				<li class="list-item">
					<a href="#">
						<span class="d-inline avatar">Af</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-danger d-inline"></span>
					</a>
				</li>
				<li class="list-item">
					<a href="#">
						<span class="d-inline avatar">M</span><p class="d-inline">Afifah</p> <span class="flag-dot bg-success d-inline"></span>
					</a>
				</li>
				
			</ul>
			<div id="searchUserForm" class="form-group">
				<input class="form-control" placeholder="Search">
			</div>
			
		</div>
	</div>
</div>
