<div class="container-fluid" style="background: ; height: 100vh;">
	<div class="row">


		<div class="col-md-10" style="background:">
			<div class="row">
				<div class="col-md-3 profile-bar text-center">
					<div class="card card-body avatar-canvas">
						<img src="/assets/profile.jpg" class="img-fluid">
						<div class="title-box">
							<h1 class="pofile-name">Napihup</h1>
							<p class="lead">Yakub Family</p>
						</div>
						<div class="form-group">
							<button class="btn btn-md bg-default v-family-btn"> View Family</button>
						</div>
						
					</div>
				</div>
				<div class="col-md-9 profile-content">
					<div class="tab-container">
						<ul class="nav">
							<!--- USE navtab-active class for active -->
						  <li class="nav-item">
						    <a class="nav-link" href="http://localhost:3310/user/home">
						    <i class="fas fa-user-circle"></i> About</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link navtab-active" href="http://localhost:3310/skilltab">
						    <i class="fab fa-hubspot"></i> Skills</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" href="#">
						    	<i class="fas fa-briefcase"></i> Employment</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" href="#">
						    	<i class="far fa-building"></i> Assets</a>
						  </li>
						</ul>

						<!-------------------------  ABOUT ME TAB CONTENT ---------------------------->
						<div id="aboutme" class="tab-content">
							
			
							<div class='container skills'>
								
							</div>
							
						</div>	


						

									
					</div>
					
				</div>
			</div>
		</div>


<!---------------------------------------------------------------------------------------->
		<div class="col-md-2 right-component">
			
			<h1 class="side-bar-header">Contacts</h1>
			<ul class="list-group-item online-list">

				<!-- <p class="text-muted right-bar-text">You don't have any friends,<br><a href="#"> add new friends ?</a></p> -->
				<li class="list-item">
					<a href="#">
						<span class="d-inline avatar">M</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-success d-inline"></span>
					</a>
				</li>
				<li class="list-item">
					<a href="#">
						<span class="d-inline avatar">HN</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-warning d-inline"></span>
					</a>
				</li>
				<li class="list-item">
					<a href="#">
						<span class="d-inline avatar">Af</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-danger d-inline"></span>
					</a>
				</li>
				<li class="list-item">
					<a href="#">
						<span class="d-inline avatar">M</span><p class="d-inline">Afifah</p> <span class="flag-dot bg-success d-inline"></span>
					</a>
				</li>
				
			</ul>
			<div id="searchUserForm" class="form-group">
				<input class="form-control" placeholder="Search">
			</div>
			
		</div>
	</div>
</div>
