<div class="container-fluid" style="background: ; height: 100vh;">
	<div class="row">


		<div class="col-md-10" style="background:">
			<div class="row">
				<div class="col-md-3 profile-bar text-center">
					<div class="card card-body avatar-canvas">
						<img src="/assets/profile.jpg" class="img-fluid">
						<div class="title-box">
							<h1 class="pofile-name">Napihup</h1>
							<p class="lead">Yakub Family</p>
						</div>
						<div class="form-group">
							<button class="btn btn-md v-family-btn"> View Family</button>
						</div>
						
					</div>
				</div>
				<div class="col-md-9 profile-content">
					<div class="tab-container">
						<ul class="nav">
							<!--- USE navtab-active class for active -->
						  <li class="nav-item">
						    <a class="nav-link" href="http://localhost:3310/user/home">
						    <i class="fas fa-user-circle"></i> Profile</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link navtab-active" href="http://localhost:3310/skilltab">
						    <i class="fab fa-hubspot"></i> Skills</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" href="http://localhost:3310/employmenttab">
						    	<i class="fas fa-briefcase"></i> Employment</a>
						  </li>
						 
						</ul>

						<!-------------------------  ABOUT ME TAB CONTENT ---------------------------->
						<div id="aboutme" class="tab-content">
							
			
							<div class='container skills'>
								<div class="container-fluid">
									<div class="row">
										<button class="add-skill-btn btn btn-sm ml-auto">Add Skill</button>
									</div>
									
									<div class="row">

										<div class="card card-body skill-card text-left">
											<h1 class=""> <i class="fab fa-hubspot"></i> HTML
											 <p class="float-right remove-skill-icon">Remove</p></h1>
											<p>This is the decription of the skill that i have about css</p>
										</div>
										<div class="card card-body skill-card text-left">
											<h1 class=""> <i class="fab fa-hubspot"></i> Css
												<p class="float-right remove-skill-icon">Remove</p>
											 
											</h1>
											<p>when an unknown printer took a galley of type and scrambled it to make a type specimen book.passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
										</div>
										<div class="card card-body skill-card text-left">
											<h1 class=""> <i class="fab fa-hubspot"></i> Right-wing Soccer
											 <p class="float-right remove-skill-icon">Remove</p></h1>
											<p>I am a right-wing soccer layer, fast run and able to chase ball that fast !!!</p>
										</div>
										<div class="card card-body skill-card text-left">
											<h1 class=""> <i class="fab fa-hubspot"></i> Microsoft Office
											 <p class="float-right remove-skill-icon">Remove</p></h1>
											<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
										</div>
										<div class="card card-body skill-card text-left">
											<h1 class=""> <i class="fab fa-hubspot"></i> Customer Relationship
											<p class="float-right remove-skill-icon">Remove</p></h1>
											<p>This is the decription of the skill that i have about css</p>
										</div>
										<div class="card card-body skill-card text-left">
											<h1 class=""> <i class="fab fa-hubspot"></i> Classical Fingerstyle Guitar
											<p class="float-right remove-skill-icon">Remove</p></h1>
											<p>This is the decription of the skill that i have about css</p>
										</div>
										<div class="card card-body skill-card text-left">
											<h1 class=""> <i class="fab fa-hubspot"></i> House chores and errands
											 <p class="float-right remove-skill-icon">Remove</p></h1>
											<p>I can do all Chores like laundry, sweeping, vacuum dish-washing and kitchen cleaning. Also can take care of old-folk and kids at home.</p>
										</div>
										<div class="card card-body skill-card text-left">
											<h1 class=""> <i class="fab fa-hubspot"></i> Java
											<p class="float-right remove-skill-icon">Remove</p></h1>
											<p>I did lost of java based app using spring framework and con-currency patterns.</p>
										</div>
										<div class="card card-body skill-card text-left">
											<h1 class=""> <i class="fab fa-hubspot"></i> Spring - java
											 <p class="float-right remove-skill-icon">Remove</p></h1>
											<p>Popular java framework for web development and i have good foundation on its core framework architecture.</p>
										</div>
										
									</div>
								</div>
							</div>
							
						</div>	


						

									
					</div>
					
				</div>
			</div>
		</div>


<!---------------------------------------------------------------------------------------->
		<div class="col-md-2 right-component">
			
			<h1 class="side-bar-header">Contacts</h1>
			<ul class="list-group-item online-list">

				<!-- <p class="text-muted right-bar-text">You don't have any friends,<br><a href="#"> add new friends ?</a></p> -->
				<li class="list-item">
					<a href="#">
						<span class="d-inline avatar">M</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-success d-inline"></span>
					</a>
				</li>
				<li class="list-item">
					<a href="#">
						<span class="d-inline avatar">HN</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-warning d-inline"></span>
					</a>
				</li>
				<li class="list-item">
					<a href="#">
						<span class="d-inline avatar">Af</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-danger d-inline"></span>
					</a>
				</li>
				<li class="list-item">
					<a href="#">
						<span class="d-inline avatar">M</span><p class="d-inline">Afifah</p> <span class="flag-dot bg-success d-inline"></span>
					</a>
				</li>


				
			</ul>
			<div id="searchUserForm" class="form-group">
				<input class="form-control" placeholder="Search">
			</div>
			
		</div>
	</div>
</div>
