<div class="container-fluid" style="background: ; height: 100vh;">
	<div class="row">


		<div class="col-md-10" style="background:">
			<div class="row">
				<div class="col-md-3 profile-bar text-center">
					<div class="card card-body avatar-canvas">
						<img src="/assets/profile.jpg" class="img-fluid">
						<div class="title-box">
							<h1 class="pofile-name">Napihup</h1>
							<p class="lead">Yakub Family</p>
						</div>
						<div class="form-group">
							<button class="btn btn-md v-family-btn"> View Family</button>
						</div>
						
					</div>
				</div>
				<div class="col-md-9 profile-content">
					<div class="tab-container">
						<ul class="nav">
							<!--- USE navtab-active class for active -->
						  <li class="nav-item">
						    <a class="nav-link" href="http://localhost:3310/user/home">
						    <i class="fas fa-user-circle"></i> About</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" href="http://localhost:3310/skilltab">
						    <i class="fab fa-hubspot"></i> Skills</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link navtab-active" href="http://localhost:3310/employmenttab">
						    	<i class="fas fa-briefcase"></i> Employment</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" href="#">
						    	<i class="far fa-building"></i> Assets</a>
						  </li>
						</ul>

						<!-------------------------  ABOUT ME TAB CONTENT ---------------------------->
						<div id="employmenttab" class="tab-content">
							
			
							<div class="container-fluid">
								<div class="row">
										<button class="add-employment-btn btn btn-sm ml-auto">Add employment</button>
										
								</div>
								<div class="row">
									 <div class="card card-body text-left">
									 	

									 	<h1 class="">
									 		<span class="float-left current">Current </span>
									 	 Cognizant Solution Pte Ltd 

									 		<p class=" float-right edit-emp-icon">edit</p>
									 		<p style="margin-top: 10px" class="text-muted addr-text"> -  Changi business park 73456 #34 bldg 1</p>
									 	</h1>

									 	<table class="emp-table">
									 		<tr>
									 			<td class="table-head">Designation: </td>
									 			<td>Software engineer</td>
									 			<td class="table-head">Estimate Gross : </td>
									 			<td><span class='income-badge'>$ 413,000.00</span> (SGD)</td>
									 			
									 		</tr>
									 		<tr>
									 			<td class="table-head">Years Experience : </td>
									 			<td>17 years</td>
									 			<td class="table-head">Since : </td>
									 			<td>10th Oct 2017</td>
									 		</tr>
									 		<tr>
									 			<td class="table-head">Resignation : </td>
									 			<td>Not application</td>
									 	
									 		</tr>
									 		
									 		
									 	</table>

									 	<h4 class="secondary-header">Functions and description</h4>
									 	<p class=""> &nbsp; &nbsp; &nbsp; &nbsp; Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, <br> making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage</p>
									 	
										

									 </div>

									 <!-- Employment divider -->
									 <div class="card card-body text-left">
									 	

									 	<h1 class="">
									 		<!-- <span class="float-left current">Current </span> -->
									 	 Nucleus Software Solution 

									 		<p class=" float-right edit-emp-icon">edit</p>
									 		<p style="margin-top: 10px" class="text-muted addr-text"> -  UOB alexandra 73456 #34 bldg 1</p>
									 	</h1>

									 	<table class="emp-table">
									 		<tr>
									 			<td class="table-head">Designation: </td>
									 			<td>Programmer analyst</td>
									 			<td class="table-head">Estimate Gross : </td>
									 			<td><span class='income-badge'>$ 3100.00</span> (SGD)</td>
									 			
									 		</tr>
									 		<tr>
									 			<td class="table-head">Years Experience : </td>
									 			<td>6 months</td>
									 			<td class="table-head">Since : </td>
									 			<td>3rd March 2017</td>
									 		</tr>
									 		<tr>
									 			<td class="table-head">Resignation : </td>
									 			<td>3rd March 2018</td>
									 	
									 		</tr>
									 		
									 		
									 	</table>

									 	<h4 class="secondary-header">Functions and description</h4>
									 	<p class="">  &nbsp; &nbsp; &nbsp; &nbsp; omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <br>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
									 	
										

									 </div>
									 <!-- -->


								</div>
							</div>
							
						</div>	


						

									
					</div>
					
				</div>
			</div>
		</div>


<!---------------------------------------------------------------------------------------->
		<div class="col-md-2 right-component">
			
			<h1 class="side-bar-header">Contacts</h1>
			<ul class="list-group-item online-list">

				<!-- <p class="text-muted right-bar-text">You don't have any friends,<br><a href="#"> add new friends ?</a></p> -->
				<li class="list-item">
					<a href="#">
						<span class="d-inline avatar">M</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-success d-inline"></span>
					</a>
				</li>
				<li class="list-item">
					<a href="#">
						<span class="d-inline avatar">HN</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-warning d-inline"></span>
					</a>
				</li>
				<li class="list-item">
					<a href="#">
						<span class="d-inline avatar">Af</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-danger d-inline"></span>
					</a>
				</li>
				<li class="list-item">
					<a href="#">
						<span class="d-inline avatar">M</span><p class="d-inline">Afifah</p> <span class="flag-dot bg-success d-inline"></span>
					</a>
				</li>


				
			</ul>
			<div id="searchUserForm" class="form-group">
				<input class="form-control" placeholder="Search">
			</div>
			
		</div>
	</div>
</div>
